.stroke-emerald {
    stroke: var(--emerald-400);
    fill: var(--emerald-400);
}

.stroke-sky {
    stroke: var(--sky-400);
    fill: var(--sky-400);
}

.stroke-orange {
    stroke: var(--orange-400);
    fill: var(--orange-400);
}

.stroke-ruby {
    stroke: var(--ruby-400);
    fill: var(--ruby-400);
}

.stroke-ruby-2 {
    stroke: var(--ruby-800);
    fill: var(--ruby-800);
}