.text-emerald {
    color: var(--emerald-300);
}

.text-emerald-2 {
    color: var(--emerald-800);
}

.text-sky {
    color: var(--sky-300);
}

.text-orange {
    color: var(--orange-300);
}

.text-ruby {
    color: var(--ruby-300);
}

.text-ruby-2 {
    color: var(--ruby-800);
}